*{
    margin: 0px;
    padding: 0px;
}

body, input{
    font:1.2em "Dancing Script", sans-serif;
    color:#363639
}
body{
    background-image: url(/images/background.jpg) ;
    background-position: 50% 70%;
    color: #fff;

}

input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid #000;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.01);
    color: #fff;
    outline: none;


}

div#bodyform{
    /* background-color: #eceff0; */
    width: 420px;
    margin: 150px auto 0px auto;
}

div#bodyform h1{
    text-align: center;
    padding: 20px;
}

div#bodyform .header {
    font-family: "Kaushan Script", cursive;
    margin:0 0 10px 0;
}

input[type=submit] {
    background-color: rgb(48, 174, 224);
    cursor: pointer;
    margin-left: 30px;
    
}

::-webkit-input-placeholder{
    color: #fff;
}

:-moz-placeholder{
    color: #fff;
}

::-moz-placeholder{
    color: #fff;
}

:-ms-input-placeholder{
    color:#fff;
}